.header {
  padding: 1rem 0 3rem;
}

.link {
  color: #999;
}

.name {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.nav_list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav_item {
  color: #999;
  font-size: 0.9rem;
  margin-right: 1.25rem;
  text-decoration: none;
}

.nav_item:hover {
  color: #666;
}

.active_nav_item {
  color: #333;
}
